{% include 'main/header.html.twig' %}

<style>

    #wrapper{

        display: block !important;
    }

</style>
  <meta name="description" content="В нашем блоге вас ожидают публикации, направленные на изучение или освещение конфликтов: горячих точек, воин прошлых столетий и биографии людей приближенных к этим событиям."> 
<!-- Main -->
<div id="main">

    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">О нас</a></h2>
            </div>
        </header>
        <span class="image featured"><img src="{{ asset('images/about.png') }}" alt="О сайте battlehist.ru" /></span>
        <p>
            &nbsp  Приветствую, дорогой читатель, любитель истории или поклонник военной тематики. В нашем блоге вас ожидают публикации, направленные на изучение или освещение конфликтов: горячих точек, воин прошлых столетий и биографии людей приближенных к этим событиям.<br>

        <ul>
            <li>В чем заключается природа войны? </li>
            <li> Может ли мир жить без угрозы интервенций?</li>
            <li> Почему люди так быстро забывают про ужасы ушедших конфликтов?</li>
        </ul>

             &nbsp  На эти вопросы мы постараемся найти ответ в цикле наших статей.

        </p>
        <p> ''Si vis pacem, para bellum'' - «Хочешь мира — готовься к войне» &copyКорнелий Непот. </p>
    </article>

</div>

<style>

    .blurb{
        display: none;
    }

</style>


{% include 'main/footer.html.twig' %}